<!DOCTYPE html>
<html>
<head>
    <title>Добавление Записи</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Добавление links</h1>
     <form method="POST">
        <label>Url</label><br>
        <input name="url" class="field"/><br><br>
        <label>Info</label><br>
        <input name="info" class="field"/><br><br>
        <label>Дата</label><br>
        <input name="regdate" type="date" class="field"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">К списку ссылок</a>
</body>
<html>