<!DOCTYPE html>
<html>
<head>
    <title>Редактирование записи</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Редактирование записи</h1>
     <form action="/edit" method="POST">
        <input type="hidden" name="id" value="{{links.id}}" />
        <label>url</label><br>
        <input name="url" value="{{links.url}}"  class="field" /><br><br>
        <label>Info</label><br>
        <input name="info"  value="{{links.info}}" class="field" /><br><br>
        <label>Дата рег.</label><br>
        <input name="regdate"  value="{{links.regdate}}" class="field" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">К списку записей</a>
</body>
<html>